body {
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(fzUl.gif);
	color: #fff;
	font-family: sans-serif;
	background-size: cover;
	background-attachment: fixed;
}

h1 {
	text-transform: uppercase;
	text-align: center;
	margin-top: 500px;
	font-size: 700px;
}

p {
	font-size: 70px;
	display: block;
	margin: 1 auto;
	width: 100%;
}
